<!-- Showcase -->
<section id="showcase">
  <div id="homeCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#homeCarousel" data-slide-to="1"></li>
      <li data-target="#homeCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item carousel-image-1 active">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-right">
            <h1 class="display-3">Construction & Support Services</h1>
            <p class="lead">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam unde
              totam nobis ipsum beatae ducimus.
            </p>
            <a href="#contact" class="btn btn-danger">Read More</a>
          </div>
        </div>
      </div>
      <div class="carousel-item carousel-image-2">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block">
            <h1 class="display-3">Project Management Consultancy</h1>
            <p class="lead">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam unde
              totam nobis ipsum beatae ducimus.
            </p>
            <a href="#contact" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="carousel-item carousel-image-3">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-right">
            <h1 class="display-3">What we do</h1>
            <p class="lead">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam unde
              totam nobis ipsum beatae ducimus.
            </p>
            <a href="#contact" class="btn btn-success">Get Quote</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#homeCarousel" data-slide="prev" class="carousel-control-prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a href="#homeCarousel" data-slide="next" class="carousel-control-next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>
