<!--Contact Us -->
<section id="contact" class="py-3">
  <h1 class="text-center">Contact Us</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card p-4">
          <div class="card-body">
            <h4>Get In Touch</h4>
            <p>
              Construction & Support Services
            </p>
            <h4>Address</h4>
            <p>24 A, Bharathi Park, 5th cross Street</p>
            <h4>Phone</h4>
            <p>(959)-7289-640</p>
            <h4>Email</h4>
            <p>cavaraassociates@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card p-4">
          <div class="card-body">
            <h3 class="text-center">
              Please fill out the form to contact us.
            </h3>
            <hr />
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="First Name"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Last Name"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Phone Number"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <textarea
                    name="message"
                    class="form-control"
                    rows="5"
                  ></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <input
                  type="submit"
                  class="btn btn-outline-danger btn-block"
                  value="Submit"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
